.tasksList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasksList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.tasksList__item--hidden {
    display: none;
}

.tasksList__content--done {
    text-decoration: line-through;
}

.tasksList__button {
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0;
}

.tasksList__button--toogleDone {
    background-color: rgb(41, 163, 41);
    transition: 1s;
}

.tasksList__button--toogleDone:hover {
    background-color: rgb(58, 212, 58);
    cursor: pointer;
}

.tasksList__button--toogleDone:active {
    background-color: rgb(65, 241, 65);
}

.tasksList__button--remove {
    background-color: rgb(237, 18, 62);
    transition: 1s;
}

.tasksList__button--remove:hover {
    background-color: rgba(237, 18, 62, 0.774);
    cursor: pointer;
}

.tasksList__button--remove:active {
    background-color: rgba(237, 18, 62, 0.711);
}